{% extends sitebase.html%}

{% block content %}
WAITING PAGE MOCKUP
<h1>Job [JOBNAME]</h1>
<p>
<ul>
  <li>[16s - OTU Table]: <div id='16s_OTU_Table' style="display: inline">[Completed]<br />
      <b>Files Generated</b><br />
      OTU Table: <a href="file1.txt">File1.txt</a><br />
      Other File: <a href="file1.txt">File1.txt</a>
    </div>
  <li>[16s - Heatmap]: <div id='16s_Heatmap' style="display: inline">[Running]</div>
  <li>[16s - Alpha Diversity]: <div id='16s_Alpha_Diversity' style="display: inline">[Running]</div>
  <li>[16s - Beta Diversity]: <div id='16s_Beta_Diversity' style="display: inline">[Running]</div>
</ul>
</p>

{% end %}