<html>
<head>
<script type="text/javascript">

    function connect() {
        var host = 'ws://' + getBaseURL() + 'consumer/';
        var websocket = new WebSocket(host);
        donecount = 0
        totaljobs = {{totaljobs}}

        websocket.onopen = function() {
            websocket.send(JSON.stringify({'msg': 'user:{{user}}'}));
        };
        websocket.onmessage = function(evt) {
            console.log(evt.data)
            message = JSON.parse(evt.data);
            if(~message['msg'].indexOf('done')) {
                websocket.send(evt.data)
                list = document.getElementById(message.job);
                list.innerHTML += 'Job Complete<br />';
                if(++donecount == totaljobs) { window.location.replace("/"); }
            }
            else {
                list = document.getElementById(message.job);
                list.innerHTML += message.msg + '<br />';
                for(var i=0; i<message.results.length; i++) {
                    list.innerHTML += '<a href="' + getBaseURL() + 
                        message.results[i] + '">' + message.results[i] + '</a> ';
                }
                list.innerHTML += '<br />'
            }
        };
        websocket.onerror = function(evt) { };
    };

    window.onload = function() {
  connect();
};

function getBaseURL () {
   return location.hostname + (location.port && ":" + location.port) + "/";
}

</script>
</head>
<body>
    <h1>
        <img alt="QIIME logo" src="{{ static_url("img/logo.png") }}">
    </h1>
    <h1>PLEAAEAAESE WAIT...</h1>  
    {% for jobname in jobs %}
        <p><h3>{{jobname}}</h3></p>
        <div name='{{jobname}}' id='{{jobname}}'></div>
    {% end %}
</body>
</html>
